<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/favicon.png" type="image/gif">
  <title>CRM</title>
</head>
<body>
<div id="root"></div>
<script src="http://120.26.211.143:5001/utf8-php/ueditor.config.js"></script>
<script src="http://120.26.211.143:5001/utf8-php/ueditor.all.js"></script>
<!--<script src="/utf8-php/ueditor.config.js"></script>-->
<!--<script src="/utf8-php/ueditor.all.js"></script>-->
</body>
</html>
